@model IEnumerable<RecruitmentManagementSystem.App.ViewModels.Question.QuestionCategoryModel>

@{
    ViewBag.Title = "Question Categories";
}

<h3>Question Categories</h3>
<hr/>

@if (!Model.Any())
{
    <div class="alert alert-warning" role="alert">
        <strong>Sorry!</strong>
        No categories are found.
    </div>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
else
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                    @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                    @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                </td>
            </tr>
        }

    </table>
}