@model RecruitmentManagementSystem.Model.Candidate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Candidate</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ResumeAttachmentPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResumeAttachmentPath)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhotoAttachmentPath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhotoAttachmentPath)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
