@model IEnumerable<RecruitmentManagementSystem.Core.Models.Candidate.CandidateModel>

@{
    ViewBag.Title = "Candidate List";
}

<h3>Canidate List</h3>
<hr />
    
@if (!Model.Any())
{
    <div class="alert alert-warning" role="alert">
        <strong>Sorry!</strong>
        No candidates are found.
    </div>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

else
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <table class="table table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Website)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {id = item.Id}) |
                    @Html.ActionLink("Details", "Details", new {id = item.Id}) |
                    @Html.ActionLink("Delete", "Delete", new {id = item.Id})
                </td>
            </tr>
        }

    </table>
}