@model RecruitmentManagementSystem.App.ViewModels.Account.RegisterViewModel
@{
    ViewBag.Title = "Register new acccount";
}

<h3>Create new account</h3>
<hr />

<div class="row">
    <div class="col-sm-5">

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form", enctype = "multipart/form-data"}))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new {@class = "text-danger"})

            <div class="form-group">
                @Html.LabelFor(m => m.FirstName, new {@class = "col-sm-4 control-label required"})
                <div class="col-sm-8">
                    @Html.EditorFor(m => m.FirstName)
                    @Html.ValidationMessageFor(m => m.FirstName, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.LastName, new {@class = "col-sm-4 control-label required"})
                <div class="col-sm-8">
                    @Html.EditorFor(m => m.LastName)
                    @Html.ValidationMessageFor(m => m.LastName, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Email, new {@class = "col-sm-4 control-label required"})
                <div class="col-sm-8">
                    @Html.EditorFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.PhoneNumber, new {@class = "col-sm-4 control-label"})
                <div class="col-sm-8">
                    @Html.EditorFor(m => m.PhoneNumber)
                    @Html.ValidationMessageFor(m => m.PhoneNumber, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.Password, new {@class = "col-sm-4 control-label required"})
                <div class="col-sm-8">
                    @Html.EditorFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new {@class = "col-sm-4 control-label required"})
                <div class="col-sm-8">
                    @Html.EditorFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.RoleId, new {@class = "col-sm-4 control-label required"})
                <div class="col-sm-8">
                    @Html.EditorFor(m => m.RoleId)
                    @Html.ValidationMessageFor(m => m.RoleId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Avatar, new {@class = "control-label col-sm-4"})
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.Avatar)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-10">
                    <input type="submit" class="btn btn-success" value="Register"/>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}