@model RecruitmentManagementSystem.Core.Models.User.UserCreateModel
@{
    ViewBag.Title = "Register new acccount";
}

<h3>Create new account</h3>
<hr />

<div class="row">
    <div class="col-sm-6">

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new {@class = "form-horizontal", role = "form", enctype = "multipart/form-data"}))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new {@class = "text-danger"})

            <div class="form-group">
                @Html.LabelFor(m => m.PersonalInformation.FirstName, new {@class = "col-sm-4 control-label required"})
                <div class="col-sm-8">
                    @Html.EditorFor(m => m.PersonalInformation.FirstName)
                    @Html.ValidationMessageFor(m => m.PersonalInformation.FirstName, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.PersonalInformation.LastName, new {@class = "col-sm-4 control-label required"})
                <div class="col-sm-8">
                    @Html.EditorFor(m => m.PersonalInformation.LastName)
                    @Html.ValidationMessageFor(m => m.PersonalInformation.LastName, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.PersonalInformation.Email, new {@class = "col-sm-4 control-label required"})
                <div class="col-sm-8">
                    @Html.EditorFor(m => m.PersonalInformation.Email)
                    @Html.ValidationMessageFor(m => m.PersonalInformation.Email, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.PersonalInformation.PhoneNumber, new {@class = "col-sm-4 control-label"})
                <div class="col-sm-8">
                    @Html.EditorFor(m => m.PersonalInformation.PhoneNumber)
                    @Html.ValidationMessageFor(m => m.PersonalInformation.PhoneNumber, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.SecurityModel.Password, new {@class = "col-sm-4 control-label required"})
                <div class="col-sm-8">
                    @Html.EditorFor(m => m.SecurityModel.Password)
                    @Html.ValidationMessageFor(m => m.SecurityModel.Password, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.SecurityModel.ConfirmPassword, new {@class = "col-sm-4 control-label required"})
                <div class="col-sm-8">
                    @Html.EditorFor(m => m.SecurityModel.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.SecurityModel.ConfirmPassword, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(m => m.SecurityModel.RoleId, new {@class = "col-sm-4 control-label required"})
                <div class="col-sm-8">
                    @Html.EditorFor(m => m.SecurityModel.RoleId)
                    @Html.ValidationMessageFor(m => m.SecurityModel.RoleId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PersonalInformation.Avatar, new {@class = "control-label col-sm-4"})
                <div class="col-sm-8">
                    @Html.EditorFor(model => model.PersonalInformation.Avatar)
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-10">
                    <input type="submit" class="btn btn-success" value="Register"/>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}