@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    <ul class="nav navbar-nav">
        <li class="dropdown" uib-dropdown>
            <a class="dropdown-toggle" uib-dropdown-toggle role="button" aria-haspopup="true" aria-expanded="false">
                Application User
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Registered Users", "Index", "Account")</li>
                <li>@Html.ActionLink("Register New User", "Register", "Account")</li>
            </ul>
        </li>

        <li class="dropdown" uib-dropdown>
            <a class="dropdown-toggle" uib-dropdown-toggle role="button" aria-haspopup="true" aria-expanded="false">
                Candidate
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Candidate List", "Index", "Candidate")</li>
                <li>@Html.ActionLink("Create New Candidate", "Create", "Candidate")</li>
            </ul>
        </li>

        <li class="dropdown" uib-dropdown>
            <a class="dropdown-toggle" uib-dropdown-toggle role="button" aria-haspopup="true" aria-expanded="false">
                Question Bank
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>@Html.ActionLink("Questions", "Index", "Question")</li>
                <li>@Html.ActionLink("Create New Question", "Create", "Question")</li>
                <li>@Html.ActionLink("Categories", "Index", "QuestionCategory")</li>
                <li>@Html.ActionLink("Create New Category", "Create", "QuestionCategory")</li>
            </ul>
        </li>
    </ul>

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">

            <li class="dropdown" uib-dropdown>
                <a class="dropdown-toggle" uib-dropdown-toggle role="button" aria-haspopup="true" aria-expanded="false">@User.Identity.GetUserName() <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>@Html.ActionLink("Manage Account", "Index", "Manage")</li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Log in", "Login", "Account", null, new {id = "loginLink"})</li>
    </ul>
}